body {
    font-family: Arial;
    background-color: red;
    color: #ff0000;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #ff6600;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    margin: 0;
    color: yellow;
}

img {
    max-width: 50%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

p {
    font-family: Times New Roman;
    font-size: 22px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffff00;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1);
}
